header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 22.4vw;
  background-color: #ffffff;
}
header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11.73333333vw;
  padding-left: 4.8vw;
  padding-right: 3.2vw;
}
header .top .left .icon-bilibili {
  font-size: 7.46666667vw;
  color: #fb7299;
}
header .top .right {
  display: flex;
}
header .top .right .icon-search {
  font-size: 5.86666667vw;
  color: #ccc;
}
header .top .right .icon-icon_bilibili-circle {
  font-size: 6.4vw;
  color: #ccc;
}
header .top .right .login {
  width: 6.4vw;
  height: 6.4vw;
  margin-left: 6.4vw;
}
header .top .right .download img {
  width: 19.2vw;
  height: 6.4vw;
  margin-left: 6.4vw;
}
header .bottom {
  display: flex;
  justify-content: space-between;
  height: 10.66666667vw;
  border-bottom: 1px solid #eee;
}
header .bottom .more a {
  display: block;
  width: 10.66666667vw;
  height: 10.66666667vw;
  text-align: center;
  line-height: 10.66666667vw;
  color: #ccc;
}
header .bottom .more a .icon-arrow-down {
  font-size: 5.86666667vw;
}
header .bottom .tab ul {
  display: flex;
}
header .bottom .tab ul li {
  padding: 0 4.26666667vw;
}
header .bottom .tab ul li a {
  display: block;
  height: 10.66666667vw;
  line-height: 10.13333333vw;
  font-size: 3.73333333vw;
  color: #000;
}
header .bottom .tab ul li a.current {
  color: #fb7299;
  border-bottom: 2px solid #fb7299;
}
.video_content {
  padding: 22.4vw 1.33333333vw 0;
}
.video_content .video_list {
  display: flex;
  flex-wrap: wrap;
}
.video_content .video_list a {
  width: 50%;
  padding: 2.13333333vw 1.33333333vw;
  font-size: 3.2vw;
  color: #000;
}
.video_content .video_list a img {
  width: 46.01333333vw;
  height: 25.88vw;
  margin-bottom: 1.33333333vw;
}
.video_content .video_list a .pic {
  position: relative;
}
.video_content .video_list a .pic .count {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.86666667vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  color: #fff;
}
.video_content .video_list a .pic .count i {
  vertical-align: bottom;
}
.openapp {
  position: fixed;
  left: 3.2vw;
  bottom: 5.33333333vw;
  width: 93.6vw;
  height: 9.8344vw;
  background-color: #fb7299;
  color: #fff;
  border-radius: 6.66666667vw;
  justify-content: center;
}
.openapp i {
  margin-left: 14.66666667vw;
  margin-right: 2.66666667vw;
  line-height: 9.33333333vw;
}
.openapp span {
  line-height: 5.33333333vw;
  font-size: 3.73333333vw;
  font-weight: 500;
}
.openapp span a {
  color: #fff;
}
